*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #352F44 ;
    color: white;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    height: auto;
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
    border: 7px solid white;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,4fr);
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 5px;
}
div{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.ele1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D5D6E;
    border-radius: 5px;
}
.ele1:hover{
    background-color: #393646bd;
}
.ele2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #6D5D6E;
}
.ele2:hover{
    background-color: #393646bd;
}
.ele3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #6D5D6E;
}
.ele3:hover{
    background-color: #393646bd;
}
.ele4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #6D5D6E;
}
.ele4:hover{
    background-color: #393646bd;
}
.container1{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 180px 180px 100px;
    grid-gap: 10px;
    grid-template-areas: 'h h h h'
                        'm m m a'
                        'm m m s'
                        'f f f f';

}
.hh{
    background-color: #363062;
    color: white;
    grid-area: h;
    text-align: center;
    border-radius: 5px;
}
.mm{
    background-color: #363062;
    color: white;
    grid-area: m;
    text-align: center;
    border-radius: 5px;
    
}
.aa{
    background-color: #363062;
    color: white;
    grid-area: a;
    text-align: center;
    border-radius: 5px;
}
.ss{
    background-color: #363062;
    color: white;
    grid-area: s;
    text-align: center;
    border-radius: 5px;
}
.ff{
    background-color: #363062;
    color: white;
    grid-area: f;
    text-align: center;
    border-radius: 5px;
}